.footer {
  background-color: #3c2e01;
}

p {
  color: rgba(105,105,105);
  font-size: 14px;
  margin: .5rem 0;
  transition: all 500ms ease;
}

.active {
  color: rgb(153, 51, 255);
  font-size: 26px;
  margin: 1.25rem 0;
}

.songLinks {
  text-decoration: none;
}

.songLinks:visited {
  color: #f2f2f2;
}