.footer {
  background-color: #3c2e01;
}

p {
  color: rgba(105, 105, 105);
  font-size: 14px;
  margin: 0.5rem 0;
  transition: all 500ms ease;
}

.active {
  color: rgb(153, 51, 255);
  font-size: 26px;
  margin: 1.25rem 0;
}

.singLink {
  text-decoration: none;
}

.backLink {
  color: #555555;
  text-decoration: none;
  /* margin-top: 5px; */
  margin-left: 15px;
}

.songLinks {
  color: #f2f2f2;
  text-decoration: none;
  font-family: Merienda;
}

.songLinks:visited {
  color: #f2f2f2;
}
